<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application>
    <!-- A receiver that triggers a GC on broadcast, disabled by default. -->
    <receiver
        android:name="papa.internal.GcTriggerReceiver"
        android:enabled="true"
        android:exported="true">
      <intent-filter>
        <action android:name="papa.TRIGGER_GC" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
