<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <application
      android:appComponentFactory="papa.PerfAppComponentFactory"
      tools:replace="android:appComponentFactory"
      tools:targetApi="p">
    <provider
        android:name="papa.internal.PerfsAppStartListener"
        android:authorities="${applicationId}.perfs-startup-listener"
        android:exported="false" />
  </application>
</manifest>
