<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.squareup.tart">

  <application
      android:appComponentFactory="tart.internal.PerfAppComponentFactory"
      tools:replace="android:appComponentFactory"
      tools:targetApi="p">
    <provider
        android:name="tart.internal.PerfsAppStartListener"
        android:authorities="${applicationId}.perfs-startup-listener"
        android:exported="false" />

    <!-- A receiver that makes the build traceable on broadcast, disabled by default. -->
    <receiver
        android:name="tart.internal.ForceTraceableReceiver"
        android:enabled="@bool/tart_force_traceable_receiver"
        android:exported="@bool/tart_force_traceable_receiver">
      <intent-filter>
        <action android:name="tart.FORCE_TRACEABLE" />
      </intent-filter>
    </receiver>

    <!-- A receiver that triggers a GC on broadcast, disabled by default. -->
    <receiver
        android:name="tart.internal.GcTriggerReceiver"
        android:enabled="@bool/tart_gc_trigger_receiver"
        android:exported="@bool/tart_gc_trigger_receiver">
      <intent-filter>
        <action android:name="tart.TRIGGER_GC" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
